@import "@colors";
@import "@fonts";

.titleContainer {
	display: flex;
	align-items: center;
	position: relative;
	span {
		margin-right: 10px;
	}
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input {
	font-family: "PT Root UI", sans-serif;
	&[type="number"] {
		-moz-appearance: textfield;
		appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
}

@-moz-document url-prefix() {
	input[type="number"] {
		-moz-appearance: textfield;
	}
}

.inputWihtUnderLine {
	all: unset;
	width: 100%;
	height: 46px;
	border: none;
	background: none;
	padding: 14px 0px 14px 10px;
	border-bottom: 1px solid #d9d9d9;
	&:focus {
		outline: none;
		border-color: $black;
	}
	&::-webkit-calendar-picker-indicator {
		cursor: pointer;
	}
}

.inputWihtUnderLineWithValue {
	border-color: $black;
	&::-webkit-calendar-picker-indicator {
		cursor: pointer;
	}
}
.inputWihtUnderLineWithValue::-webkit-calendar-picker-indicator {
	filter: brightness(0) invert(0.16) !important;
}

.checkbox {
	height: 18px;
	aspect-ratio: 1/1;
	border: 1px solid $black;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	&.checked {
		background-color: $blue;
	}
}
