@import "@colors";

.application {
	display: flex;
	width: 100%;
	max-height: 100%;
	justify-content: space-between;
	overflow-x: visible;
}

.applicationContainer {
	width: 100%;
	position: relative;
	max-height: 750px;
	min-height: 440px;
	padding-bottom: 55px;
	padding-top: 35px;
}

.nameBrend {
	max-width: 100%;
}

.leftBlockApplication {
	width: 50%;
	height: 100%;
}
.leftBlockApplicationMobile {
	width: 100%;
}
.buttonsApplicationMobile {
	width: 100% !important;
	display: flex;
	justify-content: space-between;
	button {
		width: 45%;
	}
}

.cleanerContainer {
	width: 45%;
	height: 100%;
}

.cleaner {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	right: 0px;
	top: 0;
	z-index: -2;
	padding-bottom: 55px;
}

.applicationPart {
	height: 70px;
}

.applicationParts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 240px;
	margin-top: 50px;
}

.price {
	color: $dark-gray;
	font-size: 32px;
	margin: 20px 0px 20px 0px;
	font-weight: 500;
}

.buttonsApplication {
	display: flex;
	width: 337px;
	height: 50px;
	justify-content: space-between;
	button {
		height: 100%;
		font-weight: 400;
	}
	& .send {
		background-color: $blue;
		color: white;
	}
	& .more {
		background-color: white;
		border: 1px solid #d9d9d9;
	}
}

.polz {
	margin-top: 5px;
	font-size: 12px;
	position: relative;
	align-items: center;
	display: flex;
	.agree {
		margin-right: 5px;
	}
	button {
		font-size: 12px;
	}
}
