@import "@colors";

.application {
	display: flex;
	width: 100%;
	max-height: 100%;
	justify-content: space-between;
}

.applicationContainer {
	width: 100%;
	position: relative;
	max-height: 750px;
	min-height: 440px;
	padding-bottom: 55px;
}

.nameBrend {
	max-width: 100%;
}

.leftBlockApplication {
	width: 50%;
	height: 100%;
}

.cleanerContainer {
	width: 45%;
	height: 100%;
}

.cleaner {
	max-width: 45%;
	max-height: 100%;
	min-width: 30%;
	min-height: 440px;
	position: absolute;
	right: 0px;
	top: 0;
	z-index: -1;
	padding-bottom: 55px;
}

.applicationFooter {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}
