services:
  mysql:
    image: 'mysql:8.0.25'
    env_file:
      - path: "./backend/cmd/.env"
        required: true
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -h localhost -u$$MYSQL_USER -p$$MYSQL_PASSWORD --silent" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  backend:
    build: ./backend
    environment:
      DOCKER_ENV: true
    env_file:
      - path: "./backend/cmd/.env"
        required: true
    ports:
      - '8080:8080'
    depends_on:
      mysql:
        condition: service_healthy

  frontend:
    build: ./frontend
    ports:
      - '3000:3000'
    stdin_open: true
    tty: true
    depends_on:
      - backend

volumes:
  db_data: