@import "@colors";

.cookieWarn {
	position: fixed;
	bottom: 30px;
	width: calc(100% - 60px);
	margin-left: 30px;
	margin-right: 30px;
	z-index: 1000;
	background-color: white;
	border-radius: 20px;
	padding: 30px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	border: 1px solid #e0e0e0; /* Сама рамка */
	.acceptCookieButWrap {
		display: flex;
		justify-content: flex-end;
		margin-top: 20px;
		button {
			background-color: $blue;
			color: white;
		}
	}
}
