@import "@colors";

.applicatioInfo {
	padding-top: 100px;
	padding-bottom: 200px;
	position: relative;
	.titles {
		display: flex;
		justify-content: space-between;
		padding-bottom: 60px;
		border-bottom: 1px solid #d9d9d9;
	}
	.title {
		width: 45%;
		span {
			font-size: 15px;
			font-weight: 500;
		}
		h1 {
			font-size: 50px;
			margin: 0px;
			margin-bottom: 20px;
		}
	}
	.widgets {
		width: 50%;
		display: grid;
		grid-template-columns: repeat(3, minmax(100px, 1fr));
		grid-template-rows: repeat(2, 50%);
		gap: 10px;
	}
	.longerWidget-0 {
		grid-column-start: 1;
		grid-column-end: span 2;
		display: grid;
	}
	.longerWidget-3 {
		grid-column-start: 2;
		grid-column-end: span 2;
		display: grid;
	}
	.widget {
		padding: 16px;
		background-color: $page-gray;
		display: grid;
		transition: all 0.5s ease;
		&:hover {
			transform: scale(1.03); // Увеличиваем на ~6px (3%)
			background-color: $blue;

			// Меняем цвет текста на белый для контраста
			b,
			div {
				color: white;
			}
		}
	}
	.widgetContent {
		margin-top: auto;
		display: flex;
		justify-content: space-between;
		div {
			width: 70%;
			font-size: 15px;
			font-weight: 700;
			margin-top: auto;
			display: flex;
		}
		svg {
			margin-top: auto;
			height: 15%;
			aspect-ratio: 1/1;
		}
	}
	.button {
		background-color: $blue;
		color: white;
		margin-top: 50px;
	}
	.tarifs {
		width: 100%;
		padding-top: 60px;
	}
	.oneTarifButton {
		height: 42px;
		border: 1px solid #d9d9d9;
		background-color: white;
		margin-right: 10px;
	}
	.active {
		border: 1px solid black;
	}
	.tarifButtons {
		display: flex;
		margin-bottom: 20px;
	}
	.tarifCards {
		display: grid;
		grid-template-columns: repeat(3, minmax(250px, 1fr));
		gap: 10px;
	}
	.svg {
		height: 100%;
	}
	.OneTarif {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #1b3c74;
		aspect-ratio: 4/3;
	}
	.square {
		color: white;
		font-size: 24px;
		font-weight: 500;
		padding-bottom: 20px;
		border-bottom: 1px solid white;
	}
	.cloud {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50%;
	}
}
