@import "@colors";

.panel {
	height: 70px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.tools {
	height: 42px;
	width: 406px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile {
	background-color: $black;
	color: white;
}

.pages {
	height: 100%;
	width: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 444px;
	width: 40%;
	margin: 0px 30px 0px 30px;
}

.number {
	font-size: 15px;
	display: flex;
	align-items: center;
	width: 150px;
	justify-content: space-between;
	font-weight: 500;
}

.chats {
	width: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
