@import "@colors";

.panel,
.allButtonsNavigate {
	height: 70px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.allButtonsNavigate {
	width: 80%;
}

.allButtonsNavigateMobile {
	width: auto;
	justify-content: flex-end;
}

.tools {
	height: 42px;
	// width: 406px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile {
	background-color: $black;
	color: white;
}

.pages {
	height: 100%;
	width: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 444px;
	width: 45%;
	margin: 0px 30px 0px 30px;
}

.number {
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;
	margin-right: 20px;
	span {
		width: fit-content;
	}
}

.chats {
	width: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 20px;
}

.active {
	color: $black;
}

.logoNavigate {
	&:hover {
		cursor: pointer;
	}
}

.profileMobileButton {
	border: none;
	height: 44px;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $black;
	border-radius: 6px;
}
