.scrollContainer {
	width: 100%;
	.buttons {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		padding-right: 100px;
		margin-top: 30px;
		svg {
			margin-left: 10px;
			&:hover {
				cursor: pointer;
				fill: #d9d9d9;
			}
		}
	}
	.children {
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		display: flex;
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* IE and Edge */
		scroll-behavior: smooth; // важно для плавного скролла
		-webkit-overflow-scrolling: touch; // для iOS
		&::-webkit-scrollbar {
			display: none; /* Chrome, Safari, Opera */
		}
	}
}
