@import "@colors";

.faq {
	padding-top: 100px;
	padding-bottom: 100px;
	.ansWrapper {
		width: 100%;
	}
	.question {
		width: 100%;
		padding: 20px;
		border-bottom: 1px solid #d9d9d9;
		color: $font-gray;
		&:hover {
			cursor: pointer;
			border-bottom: 1px solid $black;
			color: $black;
		}
		&.open {
			color: white;
			background-color: $black;
			border-bottom: 1px solid $black;
		}
	}
	.questionText {
		font-size: 18px;
		font-weight: 800;
	}
	.answer {
		font-size: 15px;
		margin-top: 10px;
		font-weight: 500;
	}
}
