.profilePage {
	display: grid;
	min-height: 80vh;
	grid-template-columns: minmax(150px, 20%) minmax(300px, 80%);
	padding-top: 50px;
	gap: 20px;
	align-items: start;
	@media (max-width: 700px) {
		grid-template-columns: repeat(auto-fit, minmax(300px, 100%));
	}
}
