@import "@colors";

.writeToHelp {
	background-color: $blue;
	color: white;
	width: 100%;
	margin-bottom: 50px;
	margin-top: 30px;
}
.orderIdWrapper {
	display: flex;
	justify-content: space-between;
}
.orderId {
	color: $blue;
}
.notificationOrder {
	color: $font-gray;
}
.OrderRows {
	margin-top: 15px;
	gap: 10px;
	display: grid;
	grid-template-columns: 1fr;
}
.processOrder {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.statusOrder {
	display: flex;
	align-items: center;
	svg {
		margin-right: 5px;
	}
}
.orderCard {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
}
.oneOrderRowDescr {
	font-weight: 700;
}
.oneOrderRow {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 5px;
	align-items: start;
}
