@import "@colors";

.rectangle,
.containerSelect {
	background-color: white;
	border: 1px solid $light-gray;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 0px 12px 0px;
	height: 42px;
	width: 316px;
	border-radius: 6px;
	text-align: center;
	outline: none;
}
.rectangleMobile {
	width: 100%;
}

.title {
	color: $dark-gray;
	font-size: 15px;
}

.containerRectangle {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.errorInput {
	font-size: 10px;
	color: red;
	position: absolute;
	bottom: -10px;
	left: 0;
}
