@font-face {
	font-family: "PT Root UI";
	src: url("./PT-Root-UI_Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PT Root UI";
	src: url("./PT-Root-UI_Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PT Root UI";
	src: url("./PT-Root-UI_Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
