@import "@colors";

.resultWrapper {
	background-color: white;
	padding-top: 50px;
	padding-bottom: 150px;
	padding-right: 0px;
	position: relative;
	.title {
		svg {
			max-width: 50%;
		}
	}
	.applicationFooter {
		z-index: 1;
	}
}

.description {
	font-size: 15px;
	color: $black;
	height: 42px;
	width: calc(100% - 100px);
	font-size: 15px;
	padding-left: 16px;
	background-color: $page-gray;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	span {
		margin-left: 10px;
	}
	margin-bottom: 30px;
	margin-top: 30px;
}

.card {
	min-width: 506px;
	max-width: 506px;
	margin-right: 20px;
	position: relative;
	.info {
		position: absolute;
		width: 100%;
		overflow: hidden;
		top: 6px;
		left: 6px;
		z-index: 1;
		display: inline-block;
		display: flex;
	}
	.priceCard {
		color: white !important;
		background-color: $black !important;
	}
	.item {
		color: $black;
		background-color: white;
		padding: 6px 10px 6px 10px;
		margin-right: 6px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		svg {
			margin-right: 4px;
		}
	}
	.title {
		font-size: 24px;
	}
	.svg {
		height: 100%;
	}
	.imgs {
		display: flex;
		height: 350px;
		width: 100%;
		position: relative;
	}
	.img {
		width: 50%;
		height: 100%;
		overflow: hidden;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover; /* Обрезает изображение, сохраняя пропорции */
			object-position: center; /* Центрирует обрезку */
		}
	}
	.changePicture {
		position: absolute;
		top: calc(50% - 32px);
		left: calc(50% - 32px);
		padding-right: 50%;
		padding-bottom: 50%;
	}
}
