@import "@colors";

.resultWrapper {
	background-color: white;
	padding-top: 50px;
	padding-bottom: 150px;
	padding-right: 0px;
	position: relative;
	.title {
		svg {
			max-width: 50%;
			min-width: 300px;
		}
	}
	.applicationFooter {
		z-index: 1;
	}
}

.description {
	flex-wrap: wrap;
	font-size: 15px;
	color: $black;
	width: calc(100% - 10%);
	font-size: 15px;
	padding-left: 16px;
	background-color: $page-gray;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	span {
		min-width: 350px;
		max-width: 90%;
	}
	svg {
		margin-right: 10px;
		margin-bottom: 10px;
	}
	margin-bottom: 30px;
	margin-top: 30px;
}
.card {
	// min-width: 506px;
	// max-width: 506px;
	width: 40%;
	min-width: 370px;
	margin-right: 20px;
	position: relative;
	.info {
		position: absolute;
		width: 100%;
		overflow: hidden;
		top: 6px;
		left: 6px;
		z-index: 1;
		display: inline-block;
		display: flex;
	}
	.priceCard {
		color: white !important;
		background-color: $black !important;
	}
	.item {
		color: $black;
		background-color: white;
		padding: 6px 10px 6px 10px;
		margin-right: 6px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 12px;
		svg {
			margin-right: 4px;
		}
	}
	.title {
		font-size: 24px;
	}
	.svg {
		height: 100%;
	}
	.imgs {
		display: flex;
		// height: 350px;
		aspect-ratio: 1.5/1;
		width: 100%;
		position: relative;
	}
	.img {
		width: 50%;
		height: 100%;
		overflow: hidden;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover; /* Обрезает изображение, сохраняя пропорции */
			object-position: center; /* Центрирует обрезку */
		}
	}
	.changePicture {
		position: absolute;
		top: calc(50% - 32px);
		left: calc(50% - 32px);
		padding-right: 50%;
		padding-bottom: 50%;
		display: flex;
	}
	.leftSkip,
	.rightSkip {
		height: 64px;
		width: 32px;
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		&:hover {
			background-color: #d9d9d9;
		}
	}
	.leftSkip {
		border-radius: 32px 0% 0% 32px;
		padding-left: 10px;
	}
	.rightSkip {
		border-radius: 0% 32px 32px 0%;
		padding-right: 10px;
	}
	.imgsComparison {
		position: relative;
		width: 100%;
		aspect-ratio: 1.5/1;
		overflow: hidden;
		border-radius: 8px;
		cursor: col-resize;
		user-select: none;

		.imageContainer {
			position: relative;
			width: 100%;
			height: 100%;
		}

		.imageBefore,
		.imageAfter {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}

		.imageAfter {
			// Обрезается справа в зависимости от положения слайдера
			clip-path: inset(0 0 0 50%);
		}

		.sliderHandle {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 4px;
			transform: translateX(-50%);
			z-index: 10;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.sliderLine {
				width: 2px;
				height: 100%;
				background: white;
				box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
			}

			.sliderButton {
				position: absolute;
				width: 40px;
				height: 40px;
				background: white;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;

				&:hover {
					background: #f5f5f5;
					transform: scale(1.1);
				}

				&:active {
					transform: scale(0.95);
				}
			}
		}

		// Показываем подпись при наведении
		&:hover {
			&::before {
				content: "Перетащите для сравнения";
				position: absolute;
				top: 10px;
				left: 10px;
				background: rgba(0, 0, 0, 0.7);
				color: white;
				padding: 4px 8px;
				border-radius: 4px;
				font-size: 12px;
				z-index: 5;
			}
		}
	}
}
