@import "@colors";

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 6px;
	padding: 0px 30px 0px 30px;
	height: 42px;
	&:hover {
		opacity: 0.9;
	}
}
