@import "@colors";

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 6px;
	padding: 0px 30px 0px 30px;
	height: 42px;
	&:hover {
		opacity: 0.9;
	}
	.button-text {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.2s ease;

		&.hidden {
			position: absolute;
			visibility: hidden;
			opacity: 0;
		}
	}
}

.mainButtonMobile {
	font-size: 14px !important;
}
